
    <div class="row">
        <div class="col m4">
            <br/>
            <h5>Total Transactions/ Month</h5>
            <canvas id="RadarChart" width="300" height="200"></canvas>
            
            <p></p>
            <p></p>
            <h5>Amount Moved/ Account</h5>
            <canvas id="PolarChart" width="300" height="200"></canvas>
        </div>
        
        <div class="col m8">
            <h3># of Transaction/ Account/ Month</h3>
            <canvas id="LineChart" width="300" height="200"></canvas>
        </div>
    </div>